<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/products.css') }}">
	<title>Farmlink - Products</title>
</head>
<body>
	<header>
		<h1><a href="{{ url_for('home') }}">Farm<span>link</span></a></h1>
	</header>
	<main>
		<section class="products">
			<h2 class="title"> Available Products</h2>
			<ul  class="product-list">
				{% for product in products %}
					<li class="product-item">
						<h3>{{ product['name'] }}</h2>
						<p>Price: ksh:{{ product['price'] }} per kg</p>
						<p>quantity Available:{{ product['quantity'] }} Kgs</p>
						<p>Farmer: {{ product['farmer']['name'] }}</p>
						<p>Contact: {{ product['farmer']['contact'] }}</p>
						<p>address: {{ product['farmer']['address'] }}</p>
					</li>
				{% else %}
					<li>No products available</li>
				{% endfor %}
			</ul>
			</div>
		</section>
	</main>
</body>
</html>