<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/products.css') }}">
	<title>Farmlink - Products</title>
</head>
<body>
	<header>
		<h1>Farm<span>link</span></h1>
	</header>
	<main>
		<section class="products">
			<h2> Available Products</h2>
			<ul>
				{% for product in products %}
					<li>
						<h2>{{ product['name'] }}</h2>
						<p>Price: ${{ product['price'] }}</p>
						<p>Owner: {{ product['farmer'] }}</p>
					</li>
				{% else %}
					<li>No products available</li>
				{% endfor %}
			</ul>
			</div>
		</section>
	</main>
</body>
</html>