* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #99d894;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    grid-template-rows: auto 1fr; 
}

header {
    text-align: center;
    margin-bottom: 10px; 
}

header h1 {
    font-size: 2rem;
    color: #333;
}

header h1 span {
    color: green;
}

section {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.sign-in-form {
    display: grid;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 15px;
}
select{
    width: 300px;
	height: 40px;
	border: 1px solid rgb(10, 168, 37);
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}
section h2{
	margin-top: 20px;
	font-family: 'Garamond', 'Georgia', serif;
	color: rgb(46, 46, 46);
	font-size: 40px;
	font-weight: 700;
}
input{
	width: 300px;
	height: 40px;
	border: 1px solid rgb(10, 168, 37);
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}
.form-group label {
    font-size: 20px;
	font-weight: 500;
}

.form-group select,
.form-group button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}
#signin{
    margin: 15px;
    align-items: center;
}

.form-group button {
    background-color: green;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: darkgreen;
}
button{
	width: 300px;
	height: 40px;
	border: 1px solid rgb(10, 168, 37);
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	background-color: rgb(10, 168, 37);
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}
@media (max-width: 600px) {
    section {
        width: 90%;
    }
}
